@import url('https://fonts.googleapis.com/css?family=Arsenal:400,700');

.logo {
  width: 70px;
  height: 70px;
  margin-top: 2rem;
  background-image: url('arguslogo.png');
  background-size: cover;
}

.cours_slogan {
  margin-bottom: 2em;
}

.h2_style {
  font-family: 'Arsenal','Times New Roman', sans-serif;
  margin-bottom: 1em;
  line-height: 1.6em;
  font-size: 2em;
  color: #2F4858;
}

.dead {
  display: none;
}

.show-on {
  display: block;
}

.show-off {
  display: none;
}


/* LAB BUTTONS */

.btns-cvr {
  display: flex;
}

.btns-cvr .btn-clicked {
  border: 1.5px solid tomato;
}

.btns-cvr button {
  font-size: 23px;
  outline: none;
}

.sm {
  display: none;
}


/* FORM */

.form-offer {
  margin-bottom: 0;
}

.opague {
  opacity: 0;
}

.loader {
  position: absolute;
  left: 0; top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.state-one {
  display: none;
  animation: none;
}

.state-two {
  animation: pulse .5s infinite alternate-reverse;
}

@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* PRICING LIST */

.card_cours {
  margin-top: 1em;
  padding: 3em .9em 1.7em;
  border: .1px solid #FFDFCA;
  background-image: url('subtle_dots.png');
}

tbody {
  border-bottom: 1px solid lightgrey;
}

.dop-bg-color {
  background-color: rgb(193, 238, 229);
}

.btn.btn-default span {
  font-family: 'Arsenal','Times New Roman', sans-serif;
}

.cours_btn {
  position: relative;
  width: 98%;
  height: 80px;
  margin: .5em;
  font-family: 'Arsenal','Times New Roman', sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#FFF7F3), color-stop(#FFF7F3), color-stop(#FFF7F3), color-stop(#FFF7F3), to(#FFFFFF));
  background: -webkit-linear-gradient(left, #FFF7F3, #FFF7F3, #FFF7F3, #FFF7F3, #FFFFFF);
  background: -o-linear-gradient(left, #FFF7F3, #FFF7F3, #FFF7F3, #FFF7F3, #FFFFFF);
  background: linear-gradient(to right, #FFF7F3, #FFF7F3, #FFF7F3, #FFF7F3, #FFFFFF);
  outline: none;
  border: 1.5px solid #FFDFCA;
  -webkit-box-shadow: inset .1em .1em .7em #FFDFCA;
          box-shadow: inset .1em .1em .7em #FFDFCA;
  overflow: hidden;
}

#brake_sm {
  display: none;
}

.drop_head {
  border-left: 1.5px solid lightgrey;
  border-right: 1.5px solid lightgrey;
}

.drop_head span {
  font-family: 'Open Sans', 'Trebuchet MS', serif;
  font-size: 22px;
  text-align: center;
  line-height: 40px;
  color: #2F4858;
}

.h_sum {
  margin-bottom: 4em;
}

.drop_tbl {
  margin-top: 5em;
  margin-bottom: 5em;
  height: auto;
}

.attest_rtn {
  height: auto;
  margin-bottom: 5em;
}

.dop_sum {
  font-size: 2.2em;
  color: tomato;
}

.dop_txt {
  width: 100%; 
  height: 52px;
  font-family: 'Arsenal','Times New Roman', sans-serif;
  font-size: 20px; 
  text-align: left;
}

.extra_txt {
  color: tomato;
  white-space: nowrap;
}

button {
padding: 5px 5px;
}

button span {
  position: relative;
}

button.btn.btn-default, 
button.btn.btn-default.active.focus, 
button.btn.btn-default.active:focus,
button.btn.btn-default.focus, 
button.btn.btn-default:active.focus, 
button.btn.btn-default:active:focus, 
button.btn.btn-default:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: white;
}

button.btn.btn-default.show-on:focus {
  outline: 1px solid grey;
}

button.btn.btn-default.add_remove {
  width: 5.8em;
  border: 1px solid lightgrey;
}

button.btn.btn-default.add_remove.active.focus, 
button.btn.btn-default.add_remove.active:focus,
button.btn.btn-default.add_remove.focus, 
button.btn.btn-default.add_remove:active.focus, 
button.btn.btn-default.add_remove:active:focus, 
button.btn.btn-default.add_remove:focus {
  border: 1px solid lightgrey;
  background-color: #fff;
}

.lg_screen_btn button.btn.btn-default.add_remove:hover,
.table_sm_screen button.btn.btn-default.add_remove:hover {
  border: 1px solid #baaeae;
  background-color: #fff;
}

.table_sm_screen {
  display: none;
}

.table_sm_screen .add_remove {
  position: relative;
  left: 100%;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

button.btn.btn-default.action_btn {
  width: 20em;
  height: 2.8em;
  margin-bottom: 1em;
  padding: 0;
  border: none;
  border-radius: 15px;
  font-size: 13pt;
  font-family: 'Arsenal','Times New Roman', sans-serif;
  color: snow;
  background-color: #2F4858;
  -webkit-transition: color .4s, background-color .4s, box-shadow .4s;
  -o-transition: color .4s, background-color .4s, box-shadow .4s;;
  -webkit-transition: color .4s, background-color .4s, -webkit-box-shadow .4s;;
  transition: color .4s, background-color .4s, -webkit-box-shadow .4s;;
  transition: color .4s, background-color .4s, box-shadow .4s;;
  transition: color .4s, background-color .4s, box-shadow .4s, -webkit-box-shadow .4s;;
}

.short_name {
  display: none;
}

.cli_info {
  margin-top: 0;
  border-left: 2px inset transparent;
}

.anima {
  -webkit-animation: valid_anim 2s;
          animation: valid_anim 2s;
}

@-webkit-keyframes valid_anim {
  0% { border-left: 2px inset transparent; }
  25% { border-left: 2px inset tomato; }
  50% { border-left: 2px inset transparent; }
  75% { border-left: 2px inset tomato; }
  100% { border-left: 2px inset transparent; }
}

@keyframes valid_anim {
  0% { border-left: 2px inset transparent; }
  25% { border-left: 2px inset tomato; }
  50% { border-left: 2px inset transparent; }
  75% { border-left: 2px inset tomato; }
  100% { border-left: 2px inset transparent; }
}

.clr_I button.btn.btn-default.offer_downl:hover,
button.btn.btn-default.offer_downl#comf_btn:hover {
  border-color: #baaeae;
  background-color: #fff;
}


/* FORM */

form {
  color: black;
  margin-bottom: 30px;
  border-radius: 5px;
}

form div {
  padding: 0.7em;
  border: 10px solid #FFDFCA;
  border-radius: 5px;
}

input {
  outline: none;
  width: 100%;
  font-family: 'Arsenal','Times New Roman', sans-serif;
  font-size: 15pt;
  line-height: 1;
  padding: 10px 22px;
  border: none;
  border-bottom: 1px solid #ddd;
  background-color: #ffffff;
}

.inpt_mail_cvr {
  position: relative; 
  padding: 0; 
  margin: 0; 
  border: none;
}

input:-webkit-autofill,          /* Auto-suggestions styling */
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
-webkit-box-shadow: 0 0 0px 1000px transparent inset;
-webkit-transition: background-color 5000s ease-in-out 0s;
-o-transition: background-color 5000s ease-in-out 0s;
transition: background-color 5000s ease-in-out 0s;
}


/* MODAL */

.modal-footer {
  overflow: hidden;
  border-radius: 0 0 5px 5px;
  background-color: #FFDFCA;
  height: 70px;
}

.modal {
  background-color: rgba(47, 72, 88, 0.9);
}

.close_modal {
  position: absolute;
  top: calc(100% - 70px); 
  left: 1em;
  width: 44px;
  height: 65px;

  float: left;
  outline: 1px solid transparent;
  border: none;
  color: #2F4858;

  background-color: transparent;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.close_modal span {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  display: block;
  font-size: 45px; 
  outline: none;
}

.notif {
  font-family: 'Arsenal','Times New Roman', sans-serif;
  font-size: 22px;
}


/* SMALL SCREEN WARNING */

.warn_cvr {
  position: absolute;
  display: none;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 999;
  width: 320px;
  padding: 5px;
}

#warn_too_small {
  color: white;
  font: 22px Arsenal, Times New Roman, sans-serif;
  text-align: center;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  background-color: tomato;
}


/* MEDIA QUERIES */

@media (min-width: 1196px) {

        .cvr {
          width: 70%;
        }
}

@media (max-width: 992px) {

        .container {
            max-width: none;
        }
}

@media (max-width: 841px) {

        .sm {
          display: inline-block;
        }

        .lg {
          display: none;
        }
}

@media (max-width: 648px) {

        .logo {
          display: none;
        }

        .cours_slogan {
          margin-top: 5em;
        }
}

@media (max-width: 575px) {

        h1 {
          font-size: 1em;
        }

        .row {
          margin-right: 0;
          margin-left: 0;
        }

        .table_sm_screen {
           display: table-cell;
        }

        .table_lg_screen, .lg_screen_btn {
           display: none;
        }
}

@media (max-width: 560px) {

      button.btn.btn-default.action_btn {
        width: 100%;
      }

      button.btn.btn-default.action_btn.submit_but {
        width: 8em;
      }
}

@media (max-width: 540px) {

        .h2_style {
          font-size: 5vw;
        }
}

@media (max-width: 479px) {

        .drop_head {
          border: none;
        }

        .drop_tbl {
          margin-top: 7em;
          margin-bottom: 7em;
        }

        .attest_rtn {
          margin-bottom: 7em;
        }
}

@media (max-width: 414px) {  

        .btns-cvr button {
           font-size: 16px;
        }

        .long_name {
           display: none;
        }                

        .short_name {
           display: block;
        }
}

@media (max-width: 318px) {

        .dropDownCvr,
        .cours_slogan {
          display: none;
        }   

        .warn_cvr {
          display: block;
        }  

        .modal,
        .modal-backdrop {
          display: none !important;
        }
}
